<div 
  class="sidebar-item
  {{#if is_in_use}}active{{/if}}
  {{downcase class}}
  {{downcase base_class}}"
  data-id='{{#if_equals class "User"}}{{profile_id}}{{else}}{{id}}{{/if_equals}}'
  data-slug="{{generated_slug}}"
  data-type="{{#if_equals class "User"}}Channel{{else}}{{asset_type}}{{/if_equals}}"
  {{#if action}}data-action="{{action}}"{{/if}}>

  <a
    href="/{{generated_slug}}"
    class="fill area"
    {{#if_block base_class}}
      data-content-id="{{id}}_content"
    {{else}}
      data-type="Channel"
    {{/if_block}}>
    
    <span class='item-title'>
      <span class='title'>{{#if title}}{{title}}{{else}}{{display_title}}{{/if}}{{#if value}}'{{value}}'{{/if}}</span> 

      {{#if_channel class}}
        &nbsp;<span class="{{status}} state-dot"></span>
      {{/if_channel}}
    </span>
  
    <span class="item-meta-icons">
      {{#if_block base_class}}
        <div class="hide" id="{{id}}_content">{{> preview}}</div>
        <span class="block">{{block_type}}</span>
      {{/if_block}}
    </span>

    {{#if_channel class}}
      <span class="item-meta">
        <span class="item-updated_at" datetime="{{updated_at}}">{{time_ago updated_at}}</span>
        <!-- {{status}}
        {{#if collaboration}}collaboration{{/if}} -->
        {{display_following_tag}}
      </span>
    {{/if_channel}}
  </a>

  <div class="handle grip"></div>
</div>